@{
    ViewBag.Title = "About";
}


<main class="container">
    <div class="about-banner">
        <h1 class="banner-h">About Us</h1>
    </div>
    <div class="whoweare">
        <div class="intro">
            <div class="intro-content">
                <h2 class="general-h">Who We Are</h2>
                <p class="general-p">Our purpose is life-giving blood, plasma, transplantation and biological products for world-leading health outcomes. Through the power of humanity.</p>
                <p class="general-p">We are an organisation committed to providing life-giving essence to support the everyday wellbeing of all people through blood, plasma, transplantation and biological products.</p>
            </div>
            <div class="intro-img">
                <img src="../Assets/images/whoweare.jpg">
            </div>
        </div>
        <div class="secondary">
            <div class="secondary-img">
                <img src="../Assets/images/nurse-donor.png">
            </div>
            <div class="secondary-content">
                <h2 class="general-h2">There's more to IKU Blood Bank than blood</h2>
                <p class="general-p2">
                    IKU Blood Bank is funded to provide life-giving blood, plasma, transplantation and biological products for world-leading health outcomes.

                    We serve over 25 million people stretched across 7 million square kilometres. We’re united through the power of humanity to build a healthier nation.

                    Our donors are our lifeblood. They’re indispensable and inspirational. Without them, we can’t deliver the services that are critical to the health of our nation and their generosity drives us to continually improve our world-class capability.

                    We’ll always be there for you. Not just with blood, but through our clinical excellence, commitment to education and our ongoing investment in research and development. We’re a team of experts who deliver safe, high-quality products time and time again.

                    We work tirelessly to develop innovative solutions; whether it be for blood, organ matching, tissue typing, or other life-giving biological products.
                </p>
            </div>
        </div>
    </div>
    <div class="whatwedo">
        <div class="primary">
            <div class="intro-content">
                <h1 class="general-h">What We Do</h1>
                <p class="general-p">IKU Blood Bank has been one of the most trusted not-for-profit health service providers for good reason. Take a look at the services we deliver daily. Although our life-giving role started with blood donations, today we support more people in more ways than ever before. Watch this video to discover howAlthough our life-giving role started with blood donations, today we support more people in more ways than ever before.</p>
            </div>
            <div class="intro-img">
                <img src="../Assets/images/whatwedo.jpeg" />
            </div>
        </div>

        <div class="secondary">
            <div class="secondary-img">
                <img src="../Assets/images/secondary.jpg" />
            </div>
            <div class="secondary-content">
                <h2 class="general-h2">Saving lives in all kinds of amazing ways</h2>
                <p class="general-p2">
                    IKU Blood Bank team gives operational consulting and support as well as advice on how to achieve good manufacturing practice (GMP) and good laboratory practice (GLP). We help develop quality systems, and give advice to organisations operating under biological regulatory frameworks. Understanding validation and regulatory affairs can be tricky, so we want to help where we can to save time.
                    We also help international blood services. We know a thing or two about national policy, accreditation, quality assurance, volunteer donor recruitment and GLP, and we’re happy to lend our expertise.
                </p>
            </div>
        </div>

        <div class="third">
            <div class="bottom-cont">
                <div class="box">
                    <i class="fa-solid fa-syringe"></i>
                    <h3 class="box-h">Blood Services</h3>
                    <hr />
                    <p class="box-p">Donors and patients are at the heart of our world-class blood service</p>
                </div>
                <div class="third-content">
                    <!-- <h2 class="general-h2">Blood Service</h2> -->
                    <p class="general-p2">We provide a safe, accessible and effective blood service for donors - easier booking systems and thousands of places to donate, patients - safe and consistent supply of blood, lower costs to hospitals through improved integration and planning of end-to-end supply chain.</p>
                </div>
            </div>
            <div class="bottom-cont">
                <div class="box">
                    <i class="fa-solid fa-truck-medical"></i>
                    <h3 class="box-h">Transplantation</h3>
                    <hr />
                    <p class="box-p">We support patients, donors and their families throughout the donation and transplantation process</p>
                </div>
                <div class="third-content2">
                    <!-- <h2 class="general-h2">Transplantation</h2> -->
                    <p class="general-p2">
                        We are responsible for patient safety; fair, unbiased and compassionate matching and allocating of donated organs, tissue and stem cells.
                        Specialist support; dedicated clinical nurses and 24 hour support teams.
                        Community awareness; our campaign teams work tirelessly across the UK to encourage donations and enable us to offer more transplants.
                    </p>
                </div>
            </div>
            <div class="bottom-cont">
                <div class="box">
                    <i class="fa-solid fa-stethoscope"></i>
                    <h3 class="box-h">Clinical & Research</h3>
                    <hr />
                    <p class="box-p">Innovation focused on improving patient outcomes</p>
                </div>
                <div class="third-content3">
                    <!-- <h2 class="general-h2">Clinical and Research</h2> -->
                    <p class="general-p2" style="text-indent:0px;">
                        Our teams push boundaries and expand medical knowledge:<br />
                        -Clinical expertise - our medical, nursing and scientific teams advise on the care of donors and patients.<br />
                        -World-class research and development programme - guides international transfusion and transplantation practice to benefit healthcare.<br />
                        -Focussed approach - dedicated to improving patient outcomes, donor health, transfusion, transplantation and regenerative medicine.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>	