@{
    ViewBag.Title = "Home Page";
}

<div class="home-banner">
    <div class="home-content">
        <h1> Give blood</h1>
        <p style="font-family:'Josefin Sans', sans-serif;">Do something amazing</p>
        <br><br>
        <a href="~/Home/About"><button type="button"><span class="home-btn"></span>Who are we?</button></a>
        <a href="~/Home/Contact"><button type="button"><span class="home-btn"></span>Contact us</button></a>
    </div>
</div>