
@{
    ViewBag.Title = "WhoCanGiveBlood";
}

<main class="container">
    <div class="whocan-banner">
        <h1 class="banner-h">Who Can Donate</h1>
    </div>

    <div class="content head">
        <h1 class="general-h">Frequently Asked Questions</h1>
        <div class="accordion">
            <h3 class="general-h2 li" style="padding:10px">Who can give blood?</h3>
            <div class="panel">
                <p class="general-p">
                    To donate blood you will need to be generally fit and well, be aged between 17 and 65, weigh between 7 stone 12 lbs (50kg) and 25 stone (158kg), have suitable veins (we will check these before you donate), meet all donor eligibility criteria (we will check this with you before you donate).
                </p>
            </div>
        </div>
        <div class="accordion">
            <h3 class="general-h2 li" style="padding:10px">Where can I give blood?</h3>
            <div class="panel">
                <p class="general-p">
                    You can donate blood at the nearest blood donation center, blood collection unit or Ataköy campus.
                </p>
            </div>
        </div>
        <div class="accordion">
            <h3 class="general-h2 li" style="padding:10px">How long does it take to donate blood?</h3>
            <div class="panel">
                <p class="general-p">
                    Registration, examination, blood donation and free drink and snack while you rest, take approximately 30-35 minutes.
                </p>
            </div>
        </div>
        <div class="accordion">
            <h3 class="general-h2 li" style="padding:10px">Do I have to declare my identity?</h3>
            <div class="panel">
                <p class="general-p">
                    Donors should introduce themselves by giving their name-surname, date of birth (day/month/year), identity card containing TR ID number, driver's license or passport and permanent address before each blood donation process. Presentation of identity is mandatory according to the National Blood and Blood Component Preparation, Use and Quality Assurance Guide 2016 prepared by the Ministry of Health.
                </p>
            </div>
        </div>
        <div class="accordion">
            <h3 class="general-h2 li" style="padding:10px">Do I have to answer all of the questions in the inquiry form?</h3>
            <div class="panel">
                <p class="general-p">
                    The content of the inquiry form is determined by the Ministry of Health. When a person applies for blood donation, he/she must answer the personal and health-related questions in the inquiry form and approve this form personally. The questions asked are of great importance for our blood donation and the health of the patient who will receive the blood.
                </p>
            </div>
        </div>
        <div class="accordion">
            <h3 class="general-h2 li" style="padding:10px">Are there any health benefits to donating blood?</h3>
            <div class="panel">
                <p class="general-p">
                    There is no scientific study that shows that donating blood has any health benefits. The most important benefit of donating blood for the donor is to save the lives of three people he/she has never met.
                </p>
            </div>
        </div>
        <div class="accordion">
            <h3 class="general-h2 li" style="padding:10px">How often can donate blood?</h3>
            <div class="panel">
                <p class="general-p">
                    Men can give blood every 12 weeks and women can give blood every 16 weeks.
                    This is because men generally have higher iron levels than women.
                </p>
            </div>
        </div>
        <div class="accordion">
            <h3 class="general-h2 li" style="padding:10px">Are the test results after blood donation reported to us?</h3>
            <div class="panel">
                <p class="general-p">
                    All blood taken is tested for HIV, Hepatitis B-C and Syphilis. Sharing test results and donor information with third parties is prohibited within the scope of the Blood Law, and for security reasons, we cannot share them with our donors via sms or e-mail.

                    In case of a negative situation regarding your test results, personal information is provided. If the results are normal, no information is given.

                    If you still want to see your results, you must apply to the relevant blood center in person with your ID.
                </p>
            </div>
        </div>
    </div>
</main>

<!--<div class="sticky-side sticky-side-left visible-md visible-lg" style="z-index: 99 !important">
    <a href="https://www.facebook.com" class="social-icon social-icon-light  social-facebook" target="_blank" alt="Facebook" title="Facebook">
        <i class="icon-facebook"></i>
        <i class="icon-facebook"></i>
    </a>
    <a href="https://twitter.com" class="social-icon social-icon-light  social-twitter" target="_blank" alt="Twitter" title="Twitter">
        <i class="icon-twitter"></i>
        <i class="icon-twitter"></i>
    </a>
    <a href="https://www.instagram.com" class="social-icon social-icon-light  social-instagram" target="_blank" alt="Instagram" title="Instagram">
        <i class="icon-instagram"></i>
        <i class="icon-instagram"></i>
    </a>
    <a href="https://www.youtube.com" class="social-icon social-icon-light  social-youtube" target="_blank" alt="YouTube" title="YouTube">
        <i class="icon-youtube"></i>
        <i class="icon-youtube"></i>
    </a>
    <a href="https://www.linkedin.com/" class="social-icon social-icon-light  social-linkedin" target="_blank" alt="Linkedin" title="Linkedin">
        <i class="icon-linkedin"></i>
        <i class="icon-linkedin"></i>
    </a>
    <a href="https://t.me" class="social-icon social-icon-light social-telegram" target="_blank" alt="Telegram" title="Telegram">
        <i class="icon-telegram mt-0 pt-0 gizle-goster-telegram p-3"></i>
    </a>
</div>



<div id="wrapper">
    <section class="section-xs">
        <div class="whocan-banner">
            <h1 class="banner-h">Who Can Donate</h1>
        </div>
    </section>
    <section>
        <div class="container" style="min-height:80vh;">
            <div class="row">-->
<!-- LEFT -->
<!-- LEFT -->
<!--<div class="col-md-9">
    <div id="panel-ui-tan-l4" class="panel panel-default">
        <div class="panel-heading">-->
<!-- panel title -->
<!--<h3 style="color:#c10100; margin-bottom: 4px;">Blood Donation</h3>
        </div>
    </div>
    <p>
        <a class="btn btn-secondary" data-toggle="collapse" href="#1" role="button" aria-expanded="false" aria-controls="1">Who can give blood?</a>
    </p>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="1">
                <div class="card card-body">
                    To donate blood you will need to be generally fit and well, be aged between 17 and 65, weigh between 7 stone 12 lbs (50kg) and 25 stone (158kg), have suitable veins (we will check these before you donate), meet all donor eligibility criteria (we will check this with you before you donate).
                </div>
            </div>
        </div>
    </div>
    <p>
        <a class="btn btn-secondary" data-toggle="collapse" href="#2" role="button" aria-expanded="false" aria-controls="2">Where can I give blood?</a>
    </p>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="2">
                <div class="card card-body">You can donate blood at the nearest blood donation center, blood collection unit or Ataköy campus.</div>
            </div>
        </div>
    </div>
    <p>
        <a class="btn btn-secondary" data-toggle="collapse" href="#3" role="button" aria-expanded="false" aria-controls="3">How long does it take to donate blood?</a>
    </p>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="3">
                <div class="card card-body">Registration, examination, blood donation and free drink and snack while you rest, take approximately 30-35 minutes.</div>
            </div>
        </div>
    </div>
    <p>
        <a class="btn btn-secondary" data-toggle="collapse" href="#4" role="button" aria-expanded="false" aria-controls="4">Do I have to declare my identity?</a>
    </p>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="4">
                <div class="card card-body"> Donors should introduce themselves by giving their name-surname, date of birth (day/month/year), identity card containing TR ID number, driver's license or passport and permanent address before each blood donation process. Presentation of identity is mandatory according to the National Blood and Blood Component Preparation, Use and Quality Assurance Guide 2016 prepared by the Ministry of Health. </div>
            </div>
        </div>
    </div>
    <p>
        <a class="btn btn-secondary" data-toggle="collapse" href="#5" role="button" aria-expanded="false" aria-controls="5">Do I have to answer all of the questions in the inquiry form?</a>
    </p>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="5">
                <div class="card card-body"> The content of the inquiry form is determined by the Ministry of Health. When a person applies for blood donation, he/she must answer the personal and health-related questions in the inquiry form and approve this form personally. The questions asked are of great importance for our blood donation and the health of the patient who will receive the blood. </div>
            </div>
        </div>
    </div>
    <p>
        <a class="btn btn-secondary" data-toggle="collapse" href="#6" role="button" aria-expanded="false" aria-controls="6">Are there any health benefits to donating blood?</a>
    </p>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="6">
                <div class="card card-body"> There is no scientific study that shows that donating blood has any health benefits. The most important benefit of donating blood for the donor is to save the lives of three people he/she has never met. </div>
            </div>
        </div>
    </div>
    <p>
        <a class="btn btn-secondary" data-toggle="collapse" href="#7" role="button" aria-expanded="false" aria-controls="7">How often can I donate blood?</a>
    </p>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="7">
                <div class="card card-body">
                    Men can give blood every 12 weeks and women can give blood every 16 weeks.
                    <br />
                    This is because men generally have higher iron levels than women.
                </div>
            </div>
        </div>
    </div>
    <p>
        <a class="btn btn-secondary" data-toggle="collapse" href="#8" role="button" aria-expanded="false" aria-controls="8">Are the test results after blood donation reported to us?</a>
    </p>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="8">
                <div class="card card-body">
                    All blood taken is tested for HIV, Hepatitis B-C and Syphilis. Sharing test results and donor information with third parties is prohibited within the scope of the Blood Law, and for security reasons, we cannot share them with our donors via sms or e-mail.
                    <br /><br />
                    In case of a negative situation regarding your test results, personal information is provided. If the results are normal, no information is given.
                    <br /><br />
                    If you still want to see your results, you must apply to the relevant blood center in person with your ID.
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- /LEFT -->
<!-- RIGHT -->
<!--<div class="col-md-3">
    <div class="box-static box-border-top bg-light bt-0 mb-60">
        <div class="box-title">
            <h4>FAQ Categories</h4>
        </div>
        <ul class="list-unstyled list-icons p-10 pb-0">
            <li class="mb-10">
                <i class="fa fa-check fs-15 text-danger"></i>
                <span class="block bold fs-15">
                    <a class="" href="">IKU BLOOD DONATİON General Questions</a>
                </span>
            </li>
            <li class="mb-10">
                <i class="fa fa-check fs-15 text-danger"></i>
                <span class="block bold fs-15">
                    <a class="" href="/SSS?id=5" title="Merkezler">Centres</a>
                </span>
            </li>
            <li class="mb-10">
                <i class="fa fa-check fs-15 text-danger"></i>
                <span class="block bold fs-15">
                    <a class="" href="" title="Bağış ">Donation</a>
                </span>
            </li>
            <li class="mb-10">
                <i class="fa fa-check fs-15 text-danger"></i>
                <span class="block bold fs-15">
                    <a class="" href="" title="Acil Kan">Urgent Blood</a>
                </span>
            </li>
            <li class="mb-10">
                <i class="fa fa-check fs-15 text-danger"></i>
                <span class="block bold fs-15">
                    <a class="active" href="" title="Kan Bağışı">Blood Donation</a>
                </span>
            </li>

        </ul>

        <div class="hidden-xs-down text-center ">
            <a href="https://www.facebook.com/" class="social-icon social-icon-border btn-round btn-shadow-1 social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
            </a>
            <a href="https://twitter.com/" class="social-icon social-icon-border btn-round btn-shadow-1 social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
            </a>
            <a href="https://www.youtube.com/" class="social-icon social-icon-border btn-round btn-shadow-1 social-gplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="YouTube">
                <i class="icon-youtube"></i>
                <i class="icon-youtube"></i>
            </a>
            <a href="https://www.instagram.com/" class="social-icon social-icon-border btn-round btn-shadow-1 social-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                <i class="icon-instagram2"></i>
                <i class="icon-instagram2"></i>
            </a>
        </div>
    </div>
</div>-->
<!-- /RIGHT -->
<!--</div>
    </div>
</section>
</div>-->
