
@{
    ViewBag.Title = "WhyGiveBlood";
}

<main class="container">
    <div class="whygive-banner" style="margin-bottom: 100px;">
        <h1 class="banner-h">Why Give Blood</h1>
    </div>
    <div class="content">

        <h1 class="general-h">The Importance of Donating Blood</h1>

        <div class="intro">

            <div align="center">
                <img src="../Assets/images/bir-damla-kan-bin-damla-umut.jpg" alt="">
            </div>
            <h1 class="general-h2">One Drop of Blood, A Thousand Drops of Hope..</h1>
            <p class="general-p">
                Every year, thousands of people die as a result of an accident or illness because they cannot find blood. On the other hand, researches show that the annual blood donation rate in Turkey, where approximately 72 million people live, is 1% of the population. However, blood donation not only saves the lives of thousands of people waiting for blood, but also positively affects the health of the donor.
                The only source of blood is human. This vital fluid has no other counterpart. That's why donating blood is equated with saving lives. You can heal yourself by donating blood to people you don't know, and you can even protect your own health by donating blood.
            </p>
        </div>

        <div class="secondary">
            <h1 class="general-h2">What is blood? Why is Blood Donation Vital?</h1>
            <p class="general-p">
                Blood is a red colored liquid made up of plasma and cells that circulates in our cardiovascular system. A normal adult has 5-6 liters of blood. About 50-60 percent of this is made up of a fluid called plasma, and the rest is made up of cells. The blood carries oxygen and carbon dioxide between the lungs and tissues, thanks to the hemoglobin in the red blood cells. It also transmits nutrients and hormones to the necessary tissues and helps to remove toxic substances from our body. It provides the body's acid-base balance and heat balance. White blood cells in the blood also protect the body from microbes, cancer cells and foreign substances.

                First of all, blood donation is very important for people who lost their lives because the necessary blood could not be found. All over the world, as a result of diseases or accidents, many people lose their lives because blood cannot be found. Blood donation in the community constitutes only 1% of the population. This is a very low rate. Blood donation is important both for the people in need of blood and for the donor to have a healthy structure.

                Man is the only source of blood. That's why blood is like a very valuable medicine. For now, the only way to obtain this vital fluid is through blood donation. Because although scientists have been working for many years to obtain an artificial substance that can be used instead of blood, they have not yet achieved a positive result.</b>
            </p>
        </div>

        <div class="third">
            <h1 class="general-h2">Benefits of Donating Blood</h1>
            <p class="general-p">
                <ul class="general-p2">
                    <li>When giving blood, the organs that make blood in the person's body are stimulated and encourage the body to make blood.</li>
                    <br>
                    <li>Renews the blood cells in your body.</li>
                    <br>
                    <li>By preventing the lubrication of the bone marrow, blood production is kept alive.</li>
                    <br>
                    <li>It contributes greatly to the relief of ailments such as headache, stress, high blood pressure, and fatigue in the person who donates blood.</li>
                    <br>
                    <li>People who donate blood feel psychologically comfortable and peaceful. When he needs to be given blood later, he feels confident that there will be people who will do it.</li>
                    <br>
                    <li>Blood type, blood count and screening tests for blood-borne diseases are applied to everyone who donates blood. For this reason, blood donation can be very beneficial for the health of the person.</li>
                    <br>
                    <li>BLOOD INSURANCE CARD is also allocated to those who donate blood. Blood donors have priority in emergencies. This card is used to receive blood from all Red Crescent Blood Centers with the highest priority and to obtain free blood for those who do not have social security, in case of emergency blood needs that we do not want to happen, to you and all your relatives with your surname.</li>
                    <br>
                    <li>Since the blood taken from volunteer donors is safe blood, the transmission of diseases through blood is less. As a result, the increase in the number of volunteer donors has a positive effect on the health level of the society.</li>
                </ul>
            </p>
        </div>
        <div class="fourth">
            <h1 class="general-h2">How to Donate Blood?</h1>
            <p class="general-p">
                The blood donation process will take approximately 30 minutes from the moment you enter the door. When you apply to blood centers, you must first fill out a yes-no form consisting of questions to protect the health of you and the person who will receive your blood. This form is a donor evaluation form. For privacy reasons, your answers are kept confidential. In the meantime, you can ask the doctors and nurses on your mind. <br><br>

                In line with the questions in the form, you should inform the doctor about the diseases you have had in the past, the operations and the medicines you use. Then it goes to the registration phase. Your identity information and address are recorded with a picture and official ID. After your form is evaluated, your height, weight, blood pressure and blood hemoglobin level are measured. If there is no problem after other examinations deemed necessary, blood is taken into the tube for the tests to be performed. <br><br>

                Blood count and some other tests are done on the blood sample taken. If there is a result that prevents blood collection in the test results, a written notification is made to the donor candidate. If there is no obstacle to blood collection in the tests and your health condition is suitable, you can switch to specially designed beds for blood donation. Here, nurses specially trained in blood collection clean the elbow pit in your arm with antiseptic solutions and enter the vein with sterile and disposable needles. In this respect, you do not run the risk of contracting any disease while giving blood.<br><br>

                While the blood is being drawn, you only feel pain when the needle enters the tissue, there is no pain afterwards. Once the blood bag starts to fill, a unit of blood is taken approximately every 4-8 minutes. When the procedure is finished, the needle is removed from the vein and you are then shown how to put pressure on your arm to stop the bleeding.  After donating blood, you will be kept under observation for 10-15 minutes. In the meantime, food and beverages are served to the donors.
            </p>
        </div>
        <div class="fifth">
            <h1 class="general-h2">What Should Be Considered After Donating Blood?</h1>
            <p class="general-p">
                Donating blood will not cause a significant change in the flow of your daily life. However, there are still some issues that need attention. On the day of blood donation, plenty of fluids should be taken, and smoking should not be used for 2 hours following the donation. If a vehicle is to be used, the vehicle should not be used within 30 minutes after blood donation. Prolonged standing should not be avoided for 1 hour following blood donation in order to prevent blood circulation reactions. The protective tape attached to your arm should not be removed before 2 hours. <br>

                Excessive efforts should not be made on the day of blood donation. For example; gliding, parachute sports, car and motorcycle racing, mountaineering, diving etc. On the day of donation, activities (sauna, sports, etc.) that tire the body excessively and cause fluid loss should be avoided. Heavy items should not be carried for the first few hours with the arm that has been given blood. This can lead to bleeding. <br><br>

                If you feel dizzy or faint after donating blood, you should lie down or sit with your head between your knees. Alcohol should not be consumed before the second meal.  People who have occupations that cause fatigue and fatigue for a long time, such as train drivers, heavy load drivers, bus drivers, heavy machinery operators, crane operators, pilots, people who have to climb ladders or construction site scaffolding due to their jobs, miners working underground, can donate blood. They can do these jobs 24 hours after they are found.<br><br>

                Unfortunately, in our country, there are serious difficulties in meeting the blood needs of patients, since there are not enough regular and voluntary blood donations. You can contribute to solving an important problem by taking only 30 minutes of your time.

                <br><br> <b style="color: red; font-size: 30px;">Stay healthy.</b>
            </p>
        </div>
    </div>
</main>