body {
	margin: 0;
	box-sizing: border-box;
	background-color: #F8f9fb;
}

.header {
	background: linear-gradient(to right, #ec1c24, #d82027);
	height: 80px;
}

.header .flex {
	width: 100%;
	max-width: 1450px;
	display: flex;
	margin: auto;
	justify-content: space-between;
}

.header .logo {
	float: left;
	font-family: 'Comfortaa', cursive!important;
	color: #e11410;
	display: flex;
	/* align-items: center; */
}

.header .logo .logo-h {
    margin-top: 25px;
}

.header .logo .logo-h2 {
	color: white;
}

.header .logo a {
	color: #7A0E0E;
	text-decoration: none;
	font-size: 2rem;
}

.header .logo img {
    width: 50px;
    margin-top: 15px;
}

.header .nav {
	float: right;
	/* display: flex;
	align-items: center; */
	margin-top: 15px;
}

.header .nav li {
	list-style: none;
	float: left;
}

.header .nav a {
	text-decoration: none;
	font-size: 1.2rem;
	font-family: 'Josefin Sans', sans-serif;
	transition: all .5s;
	color: #312528;
	padding-top: 31px;
	padding-bottom: 30px;
	padding-right: 25px;
	padding-left: 25px;
	width: 6%;
}

.header .nav a:hover {
	color: white;
	background-color: #F36D6B;
}

.header .nav a:focus {
	color: white;
	background-color: #F36D6B;
}

/* Responsive Navbar*/

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.mobile-nav {
	display: none;
}

@media only screen and (max-width: 1430px) {
	.nav {
		display: none;
	
		position: absolute;
		right: 0px;
		background-color: #F36D6B;
		top: 65px;
		width: 300px;
		height: 100%;
	}

	.nav .list {
		float: right;
		margin-top: 50px;
	}

	.nav .list li {
		float: none;
		padding-bottom: 60px;
		padding-right: 20px;
	}

	.nav .list a:hover,
	.nav .list a:focus {
		color: white;
		background: none;
	}

	.mobile-nav {
		display: block;
		cursor: pointer;
		background: transparent;
		
		border: 0;
		padding: 0.5em;
		font-size: 2em;
	}
	
	.mobile-nav .fa-xmark {
		display: none;
	}

	.header .logo {
		margin-left: 1.75em;
	}
}

.nav[data-visible] {
	display: block;
}

/* Main */

.whereto-banner {
	float: left;
	width: 100%;
	height: 400px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../Assets/images/whereto-banner.jpg');
	background-size: 100% 1000px;
	background-position: center;
	display: flex;
	align-items: center;
}

.whereto-banner .banner-h {
	color: white;
	font-size: 4rem;
	font-family: 'Josefin Sans', sans-serif;
	width: 80%;
	max-width: 1450px;
	margin: auto;
}

.whygive-banner {
	float: left;
	width: 100%;
	height: 400px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../Assets/images/whygive-banner.jpg');
	background-size: 100%;
	background-position: center;
	display: flex;
	flex-direction: column;
}

.whygive-banner .banner-h {
	color: white;
	font-size: 4rem;
	font-family: 'Josefin Sans', sans-serif;
	width: 80%;
	max-width: 1450px;
	margin: auto;
}

.container {
	float: left;
	width: 100%;
}

.container .general-h {
	color: #683142;
	font-size: 2.5rem;
	font-family: 'Josefin Sans', sans-serif;
}

.container .general-p {
	color: #312528;
	font-family: 'Oxygen', sans-serif;
	/* font-family: 'Source Sans Pro', sans-serif; */
	font-size: 1.25rem;
	text-indent: 30px;
}

.container .general-h2 {
	font-size: 28px;
	font-family: 'Josefin Sans', sans-serif;
	color:#730200;
}

.container .general-p2 {
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	/* font-family: 'Source Sans Pro', sans-serif; */
	/* text-indent: 30px; */
}

.container .head {
	margin: auto;
	width: 80%;
	max-width: 1450px;
	margin-top: 100px;
	/* text-align: center; */
}

.container .search-box {
	margin: auto;
	width: 90%;
	max-width: 1450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 50px;
}

.container .search-box .search {
	background-image: url("../Assets/images/search-icon.png");
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: 10px 10px;
	margin: auto;
	width: 50%;
	border: 3px solid #B3B2B2;
	height: 50px;
	border-radius: 1em;
	font-size: 18px;
	font-family: 'Oxygen', sans-serif;
	padding: 12px 20px 12px 40px;
}

.container .search-box .search:focus {
	border-color: #730200;
}

#map {
	height: 500px;
	width: 50%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border: 3px solid #683142;
	border-radius: 2em;
}

@media only screen and (max-width: 1080px) {
	#map {
		width: 90%;
	}

	.container .search-box .search {
		width: 90%;
	}
}


/* List Section */

.middle {
	width: 100%;
	float: left;
}

.middle .col {
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 60%;
	max-width: 1450px;
	align-items: flex-start;
	max-height: 1000px;
	overflow: scroll;
	margin-bottom: 100px;
}

#map-list {
	list-style-type: none;
	/* display: flex; */
	/* flex-direction: column; */
	/* margin: auto; */
	margin-bottom: 50px;
	width: 90%;
	max-width: 1450px;
}

#map-list .li {
	width: 100%;
	max-width: 1450px;
	font-size: 1.25rem;
	font-family: 'Oxygen', sans-serif;
	padding: 40px 15px;
	/* border: 2px solid #ECECEC; */
	border-radius: .5rem;
	/* margin-bottom: 30px; */
	transition: all .5s;
	/* background-color: #ececec; */
} 

#map-list .li:hover {
	/* border: 2px solid #abaaaa; */
	cursor: pointer;
	border-radius: .5em;
}

#map-list .li:focus {
	border: 2px solid #abaaaa;
	cursor: pointer;
	box-shadow: 5px 5px .25em gray;
}

#map-list .list-item {
/*	display: flex;*/
/*	 justify-content: space-between; */
/*	 align-items: center; */
}

#map-list .list-item .teamName {
	width: 40%;
}

#map-list .name {
	width: 35%;	
}

#map-list .city {
	width: 35%;
}

#map-list .number {
	width: 25%;
} 

#map-list i {
	color: #730200;
}

.lihead {
	margin-bottom: 30px;
	color: #730200;
	border: 2px solid #d1d1d1;
	background-color: #d1d1d1;
	border-radius: .5em;
	display: flex;
	/* width: 100%; */
	max-width: 1450px;
	font-size: 1.25rem;
	font-family: 'Oxygen', sans-serif;
	padding: 40px 15px;
	/* border: 2px solid #ECECEC; */
	border-radius: .5rem;
	/* margin-bottom: 30px; */
	transition: all .5s;
	/* background-color: #ececec; */
}

.accordion {
	/* border: 2px solid #ececec; */
	background-color: #ececec;
	width: 100%;
	max-width: 1450px;
	border-radius: .5rem;
	margin-bottom: 30px;
	transition: all .5s;
}

.accordion:hover  {
	background-color: #ececec;
	/* border: 2px solid #abaaaa; */
	box-shadow: 5px 5px .25em gray;
}

.active {
	background-color: #ececec;
}

.panel {
	padding: 0 18px;
	background-color: #ececec;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	/* margin-bottom: 30px; */
	font-size: 1rem;
	font-family: 'Oxygen', sans-serif;
	/* width: 100%; */
	border-radius: .5em;
}

.panel table {
	padding: 50px 10px;
}


@media only screen and (max-width: 1450px) {
	.middle .col {
		width: 90%;
	}
}



.appointment {
/*	margin: 10px;*/
	padding: 10px;
	border-radius: 10px;
	background-color: #F36D6B;
	color: black;
	text-decoration:none;
}






/* Why Give Blood */

.content {
	margin: auto;
	width: 80%;
	max-width: 1450px;
	margin-bottom: 100px;
}

.intro img {
	margin-bottom: 50px;
	width:100%;
	max-width: 920px;
}

.intro,
.secondary,
.third,
.fourth,
.fifth {
	margin-top: 50px;
	margin-bottom: 100px;
}



/* Footer */

#footer {
	float: left;
	width: 100%;
	background: linear-gradient(to bottom, #8a0100 0%,#b00100 100%);
	min-height: 350px;
}

#footer .f-container .row {
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 80%;
	max-width: 1080px;
	margin-top: 50px;
	margin-bottom: 60px;
}

#footer .f-container .row .letter-spacing-1 {
	color: #FFFFFFCC;
	font-size: 20px;
	font-weight: semi-bold;
	letter-spacing: 1px;
	font-family:'Open Sans', sans-serif;
}

#footer .f-container .row li{
	color: #CBC6C6;

}

#footer .f-container .row li a {
	color: #FFFFFF99;
	font-family:'Open Sans',Arial,Helvetica,sans-serif;
	text-decoration: none;
	transition: all .3s;
	font-size: 15px;
}

#footer .f-container .row li a:hover,
#footer .f-container .row li a:focus {
	color: white;
}

#footer .f-container .row .col-4 h2 {
	font-size: 15px;
	color: #FFFFFF99;
	font-family: 'Open Sans',Arial,Helvetica,sans-serif;
}

#email {
	background-color: #00000033;
	padding: 6px 12px;
	border: 1px solid #6f0d0d;
	border-radius: 2px;
	font-size: 16px;
	height: 20px;
	width: 160px;
}

#email:focus {
	background-color: #600f0f;
	border: 1px solid #6f0d0d;
}

.input-group-btn a{
	padding: 6px 12px;
	color: white;
	background-color: #DC3545;
	font-size: 16px;
	font-family: 'Open Sans',Arial,Helvetica,sans-serif;
	border: 1px solid #DC3545;
	border-radius: 2px;
	text-decoration: none;
	margin-left: -2px;
}

#footer .copyright {
	float: left;
	width: 100%;
	height: 54px;
	background-color: rgba(0,0,0,0.2);
}

#footer .copyright .c-container {
	width: 80%; 
	max-width: 1080px;	
	margin: auto;
}

#footer .copyright .c-container li {
	list-style-type: none;
	float: right;
}

#footer .copyright .c-container .letter-spacing-1 a {
	color:#FFFFFF99;
	text-decoration: none;
	transition: all .3s;
	font-family: 'Open Sans',Arial,Helvetica,sans-serif;
	font-size: 15px;
}

#footer .copyright .c-container .letter-spacing-1 a:hover,
#footer .copyright .c-container .letter-spacing-1 a:focus {
	color: #FFFFFFCC;
}

@media only screen and (max-width: 1080px) {
	#footer .f-container .row {
		flex-direction:column;
		align-items: center;
	}
}